body {
  font-family: Arial, sans-serif;
}

.judul-web {
  text-align: center;
  font-weight: bold;
  color: #03031c;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #ffffff;
  border: 1px solid #afc1d1;
  border-radius: 10px;
  padding: 20px;
}

.judul-data {
  text-align: left;
  font-weight: 700;
  color: #03031c;
  margin-top: 5px;
}

.bagian-form {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.bagian-form label {
  width: 150px;
  text-align: left;
  padding-right: 15px;
}

.bagian-form input[type="text"],
.bagian-form select,
.bagian-form .hargaSatuan,
.bagian-form .totalPenjualan,
.bagian-form .diskonBelanja,
.bagian-form .pajakBelanja,
.bagian-form .hargatotal {
  flex-grow: 1; /*untuk membuat sisa elemen mengisi ruang yang tersisa*/
}

/* untuk membuat tombol popup disamping terlihat */
.popup-samping {
  padding: 5px 8px;
  cursor: pointer;
  background-color: #660d0d;
  border-radius: 0 4px 4px 0;
  font-size: 14px;
  line-height: 1.5;
  height: 15px; 
  display: inline-flex;
  align-items: center;
}

/* menggabungkan input dan tombol */
.input-group {
  display: flex; 
}

.input-group input[type="text"] {
  flex-grow: 1;
}

/* untuk popup pilihan */
.popup-panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.popup-content {
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  min-width: 320px;
  text-align: left;
}

/* tombol di dalam popup */
.btn-simpan {
  background-color: #0e2251;
  color: #ffffff;
  font-weight: 300;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 5px;
  transition: 0.2s;
}

.btn-batal {
  background-color: #620c0c;
  color: #ffffff;
  font-weight: 300;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-simpan:hover {
  background-color: #071637;
}

.btn-batal:hover {
  background-color: #3e0404;
}

.hidden {
  display: none;
}

/* header untuk tiap jenis popup */
.popup-content h3 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 12px;
  border-radius: 8px 8px 0 0;
}

/* Warna khusus tiap kategori */
#popup-pc-laptop .popup-content h3 {
  background-color: #b3d4fc; /* biru muda */
}

#popup-aksesoris .popup-content h3 {
  background-color: #ffe4b3; /* oranye muda */
}

#popup-jenis-penjualan .popup-content h3 {
  background-color: #c8facc; /* hijau muda */
}

/* Form di dalam popup */
.popup-content form label {
  display: block;
  margin: 6px 0;
  font-size: 15px;
}

.popup-content input[type="radio"] {
  margin-right: 8px;
  transform: scale(1.1);
}
 
.container-ketentuan {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff692;
  border: 1px solid #ffe058;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}

.judul-ketentuan {
  color: #4d0000;
  font-weight: 700;
  margin-top: 5px;
}

.isi-ketentuan ul {
  margin-top: 10px;
  margin-bottom: 5px;
  color: #4d0000;
}
