body {
  font-family: Arial, sans-serif;
}

.judul-web {
  text-align: center;
  font-weight: bold;
  color: #03031c;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #ffffff;
  border: 1px solid #afc1d1;
  border-radius: 10px;
  padding: 20px;
}

.judul-data {
  text-align: left;
  font-weight: 700;
  color: #03031c;
  margin-top: 5px;
}

.bagian-form {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.bagian-form label {
  width: 150px;
  text-align: left;
  padding-right: 15px;
}

.bagian-form input[type="text"],
.bagian-form select,
.bagian-form .hargaSatuan,
.bagian-form .totalPenjualan,
.bagian-form .diskonBelanja,
.bagian-form .pajakBelanja,
.bagian-form .hargatotal {
  flex-grow: 1;
}

/* bagian untuk popup samping*/
.popup-samping {
  padding: 5px 8px;
  cursor: pointer;
  background-color: #660d0d;
  border-radius: 0 4px 4px 0;
  font-size: 14px;
  line-height: 1.5;
  height: 15px;
  display: inline-flex;
  align-items: center;
}

/* bagian untuk inputan grup */
.input-group {
  display: flex;
}

.input-group input[type="text"] {
  flex-grow: 1;
}

/* bagian untuk popup diatas*/
.popup-panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.hidden {
  display: none;
}

.popup-content {
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  min-width: 320px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: left;
}

.popup-content h3 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 12px;
  border-radius: 8px 8px 0 0;
  padding: 8px;
  font-size: 16px;
  font-weight: bold;
}

/* warna untuk tiap jenis popup */
#popup-pc-laptop .popup-content h3 {
  background-color: #bfedf1;
  border-top: 5px solid #092745;
  color: #031323;
}

#popup-aksesoris .popup-content h3 {
  background-color: #bfedf1;
  border-top: 5px solid #092745;
  color: #031323;
}

#popup-jenis-penjualan .popup-content h3 {
  background-color: #bfedf1;
  border-top: 5px solid #092745;
  color: #031323;
}

/* untuk form didalam popup */
.popup-content form label {
  display: block;
  margin: 6px 0;
  font-size: 15px;
}

.popup-content input[type="radio"] {
  margin-right: 8px;
  transform: scale(1.1);
}

.btn-simpan,
.btn-batal,
.popup-tombol button {
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  color: white;
  transition: 0.2s;
}

.btn-simpan,
.popup-tombol button:first-child {
  background-color: #0e2251;
}

.btn-batal,
.popup-tombol button:last-child {
  background-color: #620c0c;
}

.btn-simpan:hover,
.popup-tombol button:first-child:hover {
  background-color: #071637;
}

.btn-batal:hover,
.popup-tombol button:last-child:hover {
  background-color: #3e0404;
}

.popup-tombol {
  text-align: center;
  margin-top: 15px;
}

.container-ketentuan {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff692;
  border: 1px solid #ffe058;
  border-radius: 10px;
  padding: 20px;
}

.judul-ketentuan {
  color: #4d0000;
  font-weight: 700;
  margin-top: 5px;
}

.isi-ketentuan ul {
  margin-top: 10px;
  margin-bottom: 5px;
  color: #4d0000;
}