.popup-tersembunyi{
    display: none; /*nyembunyiin pop-up secara default*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(218, 96, 96, 0.5); /*latar belakang trnasparant gelap*/
    justify-content: center;
    align-items: center;
}

.popup-konten{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    position: relative;
}

.popup-tampil{
    display: flex; /*buat nampilin popup*/
}

.tombol-tutup{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}