<!DOCTYPE html>
<html lang="en">

<head>
    <title>Checkout - RAJEZworld</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <nav class="navbar navbar-dark bg-dark p-2 shadow-sm fixed-top">
        <div class="container d-flex justify-content-between">
            <span class="navbar-brand fw-bold fs-5">RAJEZworld</span>
            <button id="darkModeToggle" class="btn btn-outline-light btn-sm">🌙</button>
        </div>
    </nav>

    <div class="container text-center mt-5">
        <h5 class="COberhasil fw-bold mb-2">Checkout Berhasil!</h5>
        <p class="makasi small pt-1 pb-3">
            Terima kasih telah berbelanja di toko kami💗
        </p>
        <a href="/" class="kembali btn btn-sm px-3">Kembali</a>
    </div>

    <!-- bottom navigation -->
    <div class="bottom-nav">
        <a href="{{ url_for('index') }}" class="active">
            <div>🏠</div>
            Home
        </a>
        <a href="{{ url_for('cart') }}" class="active">
            <div>🛒</div>
            Cart
        </a>
        <a href="{{ url_for('index') }}" class="active">
            <div>👤</div>
            Profile
        </a>
    </div>

    <!-- Dark Mode Script -->
    <script>
        const toggle = document.getElementById("darkModeToggle");

        if (localStorage.getItem("darkMode") === "enabled") {
            document.body.classList.add("dark-mode");
            if (toggle) toggle.innerHTML = "🌞";
        }

        if (toggle) {
            toggle.addEventListener("click", () => {
                document.body.classList.toggle("dark-mode");

                const isDark = document.body.classList.contains("dark-mode");
                localStorage.setItem("darkMode", isDark ? "enabled" : "disabled");
                toggle.innerHTML = isDark ? "🌞" : "🌙";
            });
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>