<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask CRUD</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-4">
        <h1 class="text-center">Daftar Produk MORI J</h1>
        <a href="{{ url_for('add') }}" class="btn btn-primary mb-3">Tambah Barang</a>

        <table class="table table-bordered align-middle">
            <thead class="thead-light">
                <tr>
                    <th>Kode</th>
                    <th>Nama</th>
                    <th>Kategori</th>
                    <th>Ukuran</th>
                    <th>Warna</th>
                    <th>Stok</th>
                    <th>Harga</th>
                    <th>Foto</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                {% for brg in dtstok %}
                <tr>
                    <td>{{ brg.kode_baju }}</td>
                    <td>{{ brg.nama_baju }}</td>
                    <td>{{ brg.kategori }}</td>
                    <td>{{ brg.ukuran }}</td>
                    <td>{{ brg.warna }}</td>
                    <td>{{ brg.stok }}</td>
                    <td>Rp {{ brg.harga }}</td>
                    <td>
                        {% if brg.filename %}
                        <img src="{{ url_for('static', filename='img/' ~ brg.filename) }}" width="100">
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ url_for('admin_edit', kode_baju=brg.kode_baju) }}" class="btn btn-warning btn-sm">
                            Edit
                        </a>
                        <a href="{{ url_for('admin_delete', kode_baju=brg.kode_baju) }}"
                            onclick="return confirm('Hapus data?')" class="btn btn-danger btn-sm">
                            Delete
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>