/* INDEX */

html,
body {
  height: 100%;
  padding-top: 5%;
}

body {
  padding-top: 70px;
  padding-bottom: 70px;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Desktop: navbar tidak fixed */
@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-bottom: 0;
  }
}

body.dark-mode {
  background-color: #121212;
  color: #f1f1f1;
}

/* navbar mobile */

.mobile-nav {
  display: block;
}

.mobile-nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-nav .navbar-brand {
  margin: 0;
  line-height: 1;
}

.mobile-nav button {
  line-height: 1;
}

/* Light mode (mobile) */
body:not(.dark-mode) .mobile-nav {
  background-color: #ffffff !important;
}

body:not(.dark-mode) .mobile-nav .navbar-brand,
body:not(.dark-mode) .mobile-nav button {
  color: #f5afaf !important;
}

/* Dark mode (mobile) */
body.dark-mode .mobile-nav {
  background-color: #140008 !important;
}

body.dark-mode .mobile-nav .navbar-brand,
body.dark-mode .mobile-nav button {
  color: #f1bcbc !important;
}

/* navbar desktop */

.desktop-nav {
  background-color: #ffffff !important;
}

body.dark-mode .desktop-nav {
  background-color: #140008 !important;
}

.desktop-nav .nav-link,
.desktop-nav .navbar-brand {
  color: #f5afaf !important;
}

body.dark-mode .desktop-nav .nav-link,
body.dark-mode .desktop-nav .navbar-brand {
  color: #f1bcbc !important;
}

.desktop-nav .nav-link:hover {
  opacity: 0.8;
}

/* footer desktop */

.desktop-footer {
  text-align: center;
  padding: 1rem 0;
  margin-top: auto;
}

/* Light mode */
body:not(.dark-mode) .desktop-footer {
  background-color: #ffffff !important;
  color: #f5afaf !important;
}

/* Dark mode */
body.dark-mode .desktop-footer {
  background-color: #140008 !important;
  color: #f1f1f1 !important;
}

/* default: mobile */
.desktop-nav,
.desktop-footer {
  display: none;
}

.mobile-nav {
  display: block;
}

/* desktop */
@media (min-width: 992px) {
  .desktop-nav,
  .desktop-footer {
    display: block;
  }

  .mobile-nav {
    display: none;
  }
}

/* search box */
.search-box {
  background-color: #f1f1f1;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #ffa4a4;
  width: 50%;
}

body.dark-mode .search-box {
  background-color: #1e1e1e;
  border-color: #333;
  color: #ffffff;
}

/* kategori icon */
.cat-icon {
  width: 56px;
  height: 56px;
  background-color: #fffaf8;
  border-radius: 50%;
  border: 2px solid #850e3540;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  color: #850e35;
  transition: transform 0.25s ease, box-shadow 0.25s ease,
    background-color 0.25s ease;
}

body.dark-mode .cat-icon {
  background-color: #121212;
}

body.dark-mode .cat-icon:hover {
  background-color: #3a3a3a;
  box-shadow: 0 8px 18px rgba(245, 175, 175, 0.35);
}

.cat-icon:active {
  transform: scale(0.95);
}

.cat-icon:hover {
  transform: translateY(-4px) scale(1.08);
  box-shadow: 0 8px 18px #850e3540;
  background-color: #fff1ee;
}

.cat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

small {
  color: #850e35;
  font-weight: 500;
}

body.dark-mode small {
  color: #850e35;
}

/* product card */
.product-card {
  border-radius: 10px;
  overflow: hidden;
  background-color: #ffffff;
  transition: all 0.3s ease;
}

.product-card:hover {
  transform: translateY(10px);
}

body.dark-mode .product-card {
  background-color: #1e1e1e;
}

.product-card img {
  height: 400px;
  object-fit: cover;
}

/* product info */
.product-info {
  background-color: #fcf5ee;
  color: #850e35;
}

body.dark-mode .product-info {
  background-color: #1e1e1e;
  color: #f1f1f1;
}

.namaBaju,
.harga,
.rekom, .totalSeluruh {
  color: #850e35;
}

body.dark-mode .totalSeluruh{
  color: #f5afaf;
}

body.dark-mode .namaBaju,
body.dark-mode .harga,
body.dark-mode .rekom{
  color: #850e35;
}

.rekom {
  font-size: x-large;
  text-align: center;
}

/* bottom nav */
.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: #ffffff;
  border-top: 1px solid #f8e5e5;
  display: flex;
  align-items: center;
  z-index: 999;
}

.bottom-nav a {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  font-weight: 500;
  color: #f5afaf;
}

.bottom-nav a.active {
  color: #a45555;
}

/* bottom nav default: HIDDEN */
.bottom-nav-mobile {
  display: none;
}

/* mobile only */
@media (max-width: 991px) {
  .bottom-nav-mobile {
    display: flex;
  }
}

body.dark-mode .bottom-nav {
  background-color: #1e1e1e;
  border-color: #333;
}

body.dark-mode .bottom-nav a {
  color: #f1bcbc;
}

body.dark-mode .bottom-nav a.active {
  color: #ffffff;
}

/* cart */
.keranjang {
  color: #850e35;
  text-align: center;
}

body.dark-mode .keranjang {
  color: #f5afaf;
}

.jumlah {
  color: #850e35;
}

.total {
  color: #850e35;
}

/* product detail */

/* Sticky Bottom Bar */
.bottom-action {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  padding: 10px;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  z-index: 999;
}

.detail {
  color: #850e35;
}

body.dark-mode .bottom-action {
  background-color: #1e1e1e !important;
  border-color: #333 !important;
}

.bottom-action .btn {
  flex: 1;
  border-radius: 10px;
}

.product-img {
  width: 100%;
  max-width: 420px;
  height: 500px;
  object-fit: cover;
  border-radius: 12px;
}

@media (max-width: 768px) {
  .product-img {
    height: 350px;
  }
}

.info-card {
  background-color: #ffffff;
}

body.dark-mode .info-card {
  background-color: #1e1e1e;
  color: #f1f1f1;
}

/* product detail */

.namaDetail {
  color: #850e35;
}

.hargaDetail {
  color: #850e35;
}

.deskProduk {
  color: #850e35;
}

body.dark-mode .namaDetail,
body.dark-mode .hargaDetail,
body.dark-mode .deskProduk {
  color: #f5afaf;
}

.masukKeranjang {
  background-color: #fcf5ee;
  color: #850e35;
  border-color: #850e35;
  text-decoration: none;
  border-radius: 10px;
}

body.dark-mode .masukKeranjang {
  background-color: #262424;
  color: #f5afaf;
  border-color: #850e35;
}

/* CART */
.CO {
  background-color: #fcf5ee;
  color: #850e35;
}

.namaCart {
  color: #850e35;
}

.hargaCart {
  color: #850e35;
}

/* CO */

.COberhasil,
.makasi {
  color: #850e35;
}

body.dark-mode .COberhasil,
body.dark-mode .makasi {
  color: #f5afaf;
}

.kembali {
  background-color: #fcf5ee;
  color: #850e35;
  border: 1px solid #850e35;
}

/* akun */

.akun {
  color: #850e35;
}

body.dark-mode .akun {
  background-color: #121212;
  border: 1px solid #140008;
  color: #f1bcbc;
}

/* kategori */
.panah {
  color: #f1bcbc;
}

.namaKategori {
  color: #850e35;
  font-size: 25px;
}

body.dark-mode .namaKategori{
  color: #f1bcbc;
}

/* desktop & mobile */
.desktop-nav,
.desktop-footer {
  display: none;
}

.mobile-nav {
  display: block;
}

@media (min-width: 992px) {
  .desktop-nav,
  .desktop-footer {
    display: block;
  }

  .mobile-nav {
    display: none;
  }
}